<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col class="no-border">
          <ion-card>
            <ion-card-header>
              <ion-card-title>List years whith multiple winners</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row class="fixed">
                  <ion-col>Year</ion-col>
                  <ion-col>Win count</ion-col>
                </ion-row>
                <ion-row *ngFor="let yeardata of years; index as i; odd as isOdd; even as isEven"
                  [class.Odd]="isOdd"
                  [class.even]="isEven">
                  <ion-col>{{ yeardata.year }}</ion-col>
                  <ion-col>{{ yeardata.winnerCount }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="no-border">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Top 3 studios with winners</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row class="fixed">
                  <ion-col>Name</ion-col>
                  <ion-col>Win count</ion-col>
                </ion-row>
                <ion-row *ngFor="let studiodata of studios; index as i; odd as isOdd; even as isEven"
                  [class.Odd]="isOdd"
                  [class.even]="isEven">
                  <ion-col>{{ studiodata.name }}</ion-col>
                  <ion-col>{{ studiodata.winCount }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="no-border">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Producers with longest and shortest interval between wins</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col class="subtitle">Maximum</ion-col>
                </ion-row>
                <ion-row class="fixed">
                  <ion-col>Producer</ion-col>
                  <ion-col>Interval</ion-col>
                  <ion-col>Previous Year</ion-col>
                  <ion-col>Following Year</ion-col>
                </ion-row>
                <ion-row *ngFor="let winsmin of wins.min">
                  <ion-col>{{ winsmin.producer }}</ion-col>
                  <ion-col>{{ winsmin.interval }}</ion-col>
                  <ion-col>{{ winsmin.previousWin }}</ion-col>
                  <ion-col>{{ winsmin.followingWin }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="subtitle">Minimum</ion-col>
                </ion-row>
                <ion-row class="fixed">
                  <ion-col>Producer</ion-col>
                  <ion-col>Interval</ion-col>
                  <ion-col>Previous Year</ion-col>
                  <ion-col>Following Year</ion-col>
                </ion-row>
                <ion-row *ngFor="let winsmax of wins.max">
                  <ion-col>{{ winsmax.producer }}</ion-col>
                  <ion-col>{{ winsmax.interval }}</ion-col>
                  <ion-col>{{ winsmax.previousWin }}</ion-col>
                  <ion-col>{{ winsmax.followingWin }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="no-border">
          <ion-card>
            <ion-card-header>
              <ion-card-title>List movie winners by year</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-input type="number" [(ngModel)]="searchValue" placeholder="Search by year"></ion-input>
                  <ion-button color="primary" (click)='searchExec()'>
                    <ion-icon name="search-outline" class="search-button"></ion-icon>
                  </ion-button>
                </ion-row>
                <ion-row class="fixed">
                  <ion-col>Id</ion-col>
                  <ion-col>Year</ion-col>
                  <ion-col>Title</ion-col>
                </ion-row>
                <ion-row *ngFor="let searchItem of searchItens; index as i; odd as isOdd; even as isEven"
                  [class.Odd]="isOdd"
                  [class.even]="isEven">
                  <ion-col>{{ searchItem.id }}</ion-col>
                  <ion-col>{{ searchItem.year }}</ion-col>
                  <ion-col>{{ searchItem.title }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
