ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: left;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.title {
  font-weight: bold;
}
.fixed {
  background-color: #e4e8ea;
  text-align: center;
  font-weight: bold;
}
.odd {
  background-color: #f2f9ff;
}
.even {
  background-color: #eceff3;
}
ion-col{
  border: .5px solid var(--ion-color-step-150, #d7d8da);
  ion-input{
     border: solid 1px #eceff3;
     border-radius: 3px;
  }
}
.pagination {
  background-color: #e4e8ea;
}
