<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>List Movies</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="fixed">
            <ion-col>ID</ion-col>
            <ion-col>
              Year<br>
              <ion-input type="number" [(ngModel)]="yearValue" (keypress)="restExec()" (change)="restExec()" placeholder="filter by year"></ion-input>
            </ion-col>
            <ion-col>Title</ion-col>
            <ion-col>
              Winner<br>
              <ion-select interface="popover" [(ngModel)]="winnerValue" (ionChange)="restExec()" placeholder="Yes/No">
                <ion-select-option value="all">Yes/No</ion-select-option>
                <ion-select-option value="true">Yes</ion-select-option>
                <ion-select-option value="false">No</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let movie of movies; index as i; odd as isOdd; even as isEven"
            [class.Odd]="isOdd"
            [class.even]="isEven">
            <ion-col>{{ movie.id }}</ion-col>
            <ion-col>{{ movie.year }}</ion-col>
            <ion-col>{{ movie.title }}</ion-col>
            <ion-col>{{ movie.winner }}</ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row class="pagination">
            <ion-button color="light" (click)='firstPage()' [disabled]='firstDisabled'>«</ion-button>
            <ion-button color="light" (click)='priorPage()' [disabled]='priorDisabled'>‹</ion-button>
            <ion-button color="light" (click)='nextPage()' [disabled]='nextDisabled'>›</ion-button>
            <ion-button color="light" (click)='lastPage()' [disabled]='lastDisabled'>»</ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
